@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
    font-family: "Ubuntu", sans-serif;
    background-color: #ff4c68;
    color: #fff;
}
td {
    color: #fff;
}
.bg-color {
    background-color: #ff4c68;
}
.my-100 {
    margin-top: 100px;;
}

.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 3rem;
}

.navbar-nav {
    font-size: 1.5rem;
}